{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}
    <body class="color">
        <div class="container pt-5">
            <div class="jumbotron h-100 text-center bgimg">
                <form action="/register" method="post">
                    <picture>
                        <img src="static/zebra_icon.jpg" class="img-thumbnail" alt="Zebra Icon" width="100" height="100">
                    </picture><br><br>
                    
                    <div class="form-group">
                        <input autocomplete="off" autofocus name="username" placeholder="Username" type="text"/>
                    </div>
                    
                    <div class="form-group">
                        <input name="password" placeholder="Password" type="password"/>
                    </div>
                    
                    <div class="form-group">
                        <input name="confirmation" placeholder="Confirm Password" type="password"/>
                    </div>
                    
                    <div class="form-group">
                        <button class="btn btn-primary" type="submit">Register</button>
                    </div>
                </form>
            </div>
        </div>
    </body>
{% endblock %}