{% extends "layout.html" %}

{% block title %}
    Student Information
{% endblock %}

{% block main %}
    <body class="color">
        <form action="/submitFacCOVIDinfo">
            <table class="table table-bordered table-light table-sm" id="myTable">
                <thead>
                    <tr>
                        <th>FacID</th>
                        <th>Test</th>
                        <th>Date of Test</th>
                        <th>Test Result</th>
                        <th>Quarantine</th>
                        <th>Quarantine Start Date</th>
                        <th>Quarantine End Date</th>
                    </tr>
                </thead>
    
                <tbody>
                    {% for swor in swors %}
                        <tr>
                            <td>{{ swor.FacID }}</td>
                            <td>{{ swor.Test }}</td>
                            <td>{{ swor.Date_of_Test }}</td>
                            <td>{{ swor.Test_Result }}</td>
                            <td>{{ swor.Quarantine }}</td>
                            <td>{{ swor.Quarantine_Start_Date }}</td>
                            <td>{{ swor.Quarantine_End_Date }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </form>
    </body>
{% endblock %}